@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");
body {
  margin: 0;
  background-image: url("../img/background/fond.jpg");
  font-family: "Roboto Slab", serif;
  position: relative;
}

h1 {
  font-family: "Ultra", serif;
  font-size: 40px;
  color: #3E3535;
  margin-top: 0;
  font-weight: initial;
  text-align: justify;
}
h1 span {
  text-transform: uppercase;
  font-size: 100px;
}

p {
  font-size: 20px;
}

.button_plus {
  padding: 2%;
  width: 70%;
  border: none;
  background-color: #F3A93E;
  color: white;
  cursor: pointer;
}
.button_plus a {
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

.add {
  background-color: #F3A93E;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 20px auto 20px auto;
  cursor: pointer;
}
.add img {
  width: 2vw;
}
.add p {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

p {
  text-align: justify;
}

header {
  height: 9vh;
  position: fixed;
  background-image: url("../img/background/fond.jpg");
}
header .header_logo {
  display: flex;
}
header .header_logo a {
  display: flex;
  justify-content: center;
  width: 100%;
}
header .header_logo a img {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
header .header-selector {
  background-color: #3E3535;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  align-items: center;
  height: 6vh;
}
header .header-selector .header-langue {
  margin-left: 4%;
  display: flex;
  height: 6vh;
}
header .header-selector .header-langue button {
  width: 40%;
  border: none;
  background: none;
  cursor: pointer;
}
header .header-selector .header-langue button img {
  width: 50%;
  margin-left: 4%;
}
header .header-selector .menu_icon_mobile {
  margin-left: 70%;
}
header .header-selector .menu_icon_mobile > * {
  transition: 0.5s;
}
header .header-selector .block_menu_mobile {
  display: none;
}
header .header-selector .block_menu_mobile.ouvert {
  position: absolute;
  background-color: #3E3535;
  height: 30vh;
  width: 100vw;
  display: flex;
  transform: translateY(18vh);
  justify-content: center;
}
header .header-selector .block_menu_mobile.ouvert .menu {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0.6%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
}
header .header-selector .block_menu_mobile.ouvert .menu a {
  text-decoration: none;
  color: white;
  font-size: 50px;
}
header .header-selector .block_menu_ordi {
  display: none;
}

footer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 1%;
  border-top: #3E3535 8px solid;
  background-color: rgba(222, 211, 195, 0.537254902);
}
footer .footer_navigation {
  display: grid;
  grid-template-columns: 1fr;
  width: 70%;
  margin-left: 4%;
}
footer .footer_navigation a {
  text-decoration: none;
  color: black;
  font-size: 36px;
  margin-bottom: 4%;
}
footer .footer_navigation p {
  display: none;
}
footer .footer_copyright {
  margin-left: auto;
  margin-right: auto;
}
footer .footer_copyright img {
  width: 90%;
}
footer .footer_copyright p {
  text-transform: uppercase;
  font-size: 20px;
  text-align: right;
  padding-right: 8%;
}

#home {
  padding-top: 12vh;
}
#home h2 {
  font-family: "Ultra", serif;
  font-size: 100px;
  color: #3E3535;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: initial;
}
#home h3 {
  background-color: #AA8773;
  color: white;
  padding: 1%;
  font-size: 24px;
}
#home .block-1 {
  margin: 2%;
  padding: 2%;
}
#home .block-1 #video_home {
  height: 30vh;
}
#home .block-1 .img_boussole {
  width: 100%;
}
#home .block-1 .block-2 {
  margin-left: 2%;
  gap: 60px;
}
#home .block-1 .block-2 p {
  text-align: justify;
}
#home .block-3 {
  margin: 2%;
  padding: 2%;
}
#home .block-3 .block-news h3 {
  padding-left: 4%;
}
#home .block-3 .block-news .news-left h2 {
  text-transform: uppercase;
  font-weight: initial;
}
#home .block-3 .block-news .news-left img {
  width: 100%;
}
#home .block-3 .block-news .news-right {
  margin-bottom: 12%;
}
#home .block-3 .block-news .news-right .descri_news {
  height: 42vh;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.5rem;
}
#home .block-3 .block-news .news-right .descri_news p {
  font-size: 2.5rem;
}
#home .block-3 .block-news .news-right .button_news {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#home .block-3 .block-news .news-right .button_news .button_plus {
  margin-top: 8%;
  width: 100%;
}
#home .block-3 .block-news .news-right .button_news .button_plus a {
  font-size: 50px;
  text-decoration: none;
  color: white;
}
#home .block-3 .block-avis {
  z-index: 1;
}
#home .block-3 .block-avis h3 {
  padding-left: 4%;
}
#home .block-3 .block-avis .block_slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
#home .block-3 .block-avis .block_slider .arrow_slider {
  width: 40px;
  height: 40px;
}
#home .block-3 .block-avis .block_slider #slider {
  width: 70vw;
  overflow: hidden;
}
#home .block-3 .block-avis .block_slider #slider .slider-parent {
  width: 140vw;
  display: flex;
  animation: slider_animation 5s 5s infinite linear;
  transition: 0.5s;
}
#home .block-3 .block-avis .block_slider #slider .slider-parent .slide {
  width: 70vw;
  grid-template-columns: 50% 50%;
}
#home .block-3 .block-avis .block_slider #slider .slider-parent .slide .block-reviews-star {
  margin-top: 8%;
}
#home .block-3 .block-avis .block_slider #slider .slider-parent .slide .desc_reviews {
  margin-right: 12%;
}
#home .block-3 .block-popular {
  padding: 2%;
  margin-top: 8%;
  margin-bottom: 12%;
}
#home .block-3 .block-popular h3 {
  padding-left: 4%;
}
#home .block-3 .block-popular .popular-img {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#home .block-3 .block-popular .popular-img img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#home .block-3 .block-popular .popular_button {
  display: flex;
  justify-content: center;
}
#home .block-3 .block-popular .popular_button .button_plus {
  margin-top: 8%;
}
#home .block-3 .block-popular .popular_button .button_plus a {
  font-size: 50px;
  color: white;
  text-decoration: none;
}
#home .block-4 {
  margin: 2%;
  padding: 2%;
  margin-bottom: 12%;
}
#home .block-4 h3 {
  padding-left: 4%;
}
#home .block-4 img {
  width: 100%;
  margin-top: 8%;
}
#home .block-5 {
  margin: 2%;
  padding: 2%;
}
#home .block-5 h3 {
  text-align: right;
  padding-right: 4%;
}
#home .block-5 .block-5-1 img {
  width: 100%;
}

#aventures {
  padding-top: 12vh;
}
#aventures h2 {
  background-color: #AA8773;
  color: white;
  padding: 1%;
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  padding-left: 4%;
}
#aventures h3 {
  font-family: "Ultra", serif;
  font-size: 100px;
  color: #3E3535;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: initial;
  background-color: none;
}
#aventures .block-1 {
  margin: 2%;
  padding: 2%;
}
#aventures .block-1 #video_home {
  height: 30vh;
}
#aventures .block-1 .img_boussole {
  width: 80%;
}
#aventures .block-1 .block-2 {
  margin-left: 2%;
  gap: 60px;
}
#aventures .block-1 .block-2 p {
  text-align: justify;
}
#aventures .block_trio_aventure {
  margin: 2%;
  padding: 2%;
}
#aventures .block_trio_aventure .block_aventure {
  border: #3E3535 5px solid;
  border-radius: 5px;
  padding: 5%;
  margin: 2%;
}
#aventures .block_trio_aventure .block_aventure img {
  width: 100%;
}
#aventures .block_trio_aventure .block_aventure .genre_aventure {
  padding: 2%;
  width: 40%;
  border: #3E3535 5px solid;
  border-radius: 5px;
  background-color: white;
  margin-right: auto;
  margin-top: 20px;
  margin-left: auto;
}
#aventures .block_trio_aventure .block_aventure .genre_aventure p {
  font-size: 40px;
  font-family: "Roboto Slab", serif;
  text-align: center;
  margin: 0;
}
#aventures .block_trio_aventure .block_aventure .genre_aventure p span {
  font-weight: bolder;
}
#aventures .block_trio_aventure .block_aventure .caract_aventure div {
  display: grid;
  grid-template-columns: 20% auto;
  align-items: center;
}
#aventures .block_trio_aventure .block_aventure .caract_aventure div img {
  width: 40%;
}
#aventures .block_trio_aventure .block_aventure .dif_aventure {
  text-align: center;
}
#aventures .block_trio_aventure .block_aventure .dif_aventure span {
  font-weight: bolder;
}
#aventures .block_trio_aventure .block_aventure .button_ensavoir {
  display: flex;
  justify-content: center;
}
#aventures .block_trio_aventure .block_aventure .button_ensavoir a {
  font-size: 48px;
  color: white;
  text-decoration: none;
}
#aventures #futur_escape div {
  border-radius: 5px;
  padding: 5%;
  margin: 2%;
}
#aventures #futur_escape div h3 {
  text-transform: uppercase;
  text-align: center;
}
#aventures #futur_escape div img {
  width: 100%;
}

#panier {
  padding-top: 12vh;
  padding-bottom: 4vh;
  margin-left: 4%;
  margin-right: 4%;
}
#panier h1 {
  font-size: 70px;
}
#panier .panier .mes_resa {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 5px black;
  width: 80%;
  margin-left: auto;
  padding: 2%;
  margin-right: auto;
  margin-bottom: 4%;
}
#panier .panier .mes_resa img {
  width: 100%;
}
#panier .panier .mes_resa .info_resa h3 {
  font-size: 3rem;
  margin-bottom: 8%;
  margin-top: 8%;
}
#panier .panier .mes_resa .info_resa .resa_nbr {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#panier .panier .mes_resa .info_resa .tarif {
  font-size: 3rem;
  text-align: center;
}
#panier .panier .mes_resa .creneau_resa {
  background-color: #F3A93E;
  width: 44%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#panier .panier .mes_resa .creneau_resa h4 {
  font-size: 2rem;
  margin-bottom: 3%;
}
#panier .panier .mes_resa .creneau_resa .line {
  border: solid 1px black;
  width: 40%;
}
#panier .panier .mes_resa .creneau_resa .date_resa {
  font-size: 2rem;
  font-weight: bolder;
}
#panier .panier .mes_resa .creneau_resa .heure_resa {
  color: white;
  font-size: 3rem;
  margin-bottom: 6%;
  margin-top: 0;
}
#panier .panier .mes_resa .supp_jeu {
  color: #98251E;
  text-decoration: none;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: bolder;
}
#panier .panier .mes_resa .supp_jeu:hover {
  text-decoration: underline;
}
#panier .panier .valid_panier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#panier .panier .valid_panier .code_cadeau {
  width: 62%;
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}
#panier .panier .valid_panier .code_cadeau input[type=text] {
  padding: 5%;
  font-size: 1.2rem;
}
#panier .panier .valid_panier .code_cadeau input[type=submit] {
  padding: 2%;
  font-size: 1.2rem;
}
#panier .panier .valid_panier .btn_valid_panier {
  padding: 2%;
  width: 48%;
  background-color: #F3A93E;
  border: none;
  margin-bottom: 8%;
}
#panier .panier .valid_panier .btn_valid_panier a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}
#panier .paiement {
  border: solid 4px black;
  padding: 3%;
}
#panier .paiement .title_paiement {
  display: flex;
  align-items: center;
  margin-top: 1vh;
}
#panier .paiement .title_paiement h2 {
  flex: 0 0 60%;
  max-width: 70%;
  font-family: "Ultra", serif;
  font-size: 70px;
  color: #3E3535;
  font-weight: initial;
  margin-top: 0;
  margin-bottom: 0;
}
#panier .paiement .title_paiement .logo_cb {
  flex: 0 0 35%;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#panier .paiement .title_paiement .logo_cb img {
  width: 40%;
}
#panier .paiement .partie_paiement {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
#panier .paiement .partie_paiement form {
  width: 100%;
}
#panier .paiement .partie_paiement form .form_paiement {
  display: flex;
  flex-direction: column;
}
#panier .paiement .partie_paiement form p {
  text-align: center;
  font-size: 2rem;
}
#panier .paiement .partie_paiement form input[type=text] {
  width: 100%;
  padding: 2%;
  font-size: 2rem;
  margin-bottom: 2%;
}
#panier .paiement .partie_paiement form input[type=submit] {
  width: 100%;
  padding: 2%;
  font-size: 3rem;
  margin-bottom: 2%;
  background-color: #F3A93E;
  border: none;
  color: white;
}
#panier .paiement .partie_paiement .recap_commande {
  padding: 2%;
  width: 34%;
  background-color: #AA8773;
  border: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
#panier .paiement .partie_paiement .recap_commande h3 {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 3%;
}
#panier .paiement .partie_paiement .recap_commande p {
  text-align: center;
  margin-top: 8%;
  font-size: 4rem;
}

#politique,
#mention,
#cgv {
  padding-top: 12vh;
  padding-bottom: 4vh;
  margin-left: 4%;
  margin-right: 4%;
}
#politique h1,
#mention h1,
#cgv h1 {
  font-size: 80px;
}
#politique h2,
#mention h2,
#cgv h2 {
  font-size: 40px;
}
#politique a,
#mention a,
#cgv a {
  color: #F3A93E;
  text-decoration: none;
  font-weight: bold;
}

#crea_compte {
  padding-top: 12vh;
  padding-bottom: 8vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#crea_compte h1 {
  font-size: 80px;
  text-align: center;
}
#crea_compte form {
  display: grid;
  margin-bottom: 4vh;
}
#crea_compte form label {
  font-size: 30px;
}
#crea_compte form input {
  width: 100%;
  height: 3vh;
  font-size: 30px;
  padding-left: 4%;
  border: solid 4px black;
  margin-bottom: 2vh;
}
#crea_compte form .pol_check {
  display: grid;
  grid-template-columns: 10% auto;
  align-items: center;
  margin-bottom: 2vh;
}
#crea_compte form .pol_check input {
  margin-bottom: 0;
}
#crea_compte form #submit_compte {
  background-color: #AA8773;
  color: white;
  width: 80%;
  height: 3vh;
  font-size: 50px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
#crea_compte a {
  font-size: 30px;
  color: #F3A93E;
  text-decoration: none;
  font-weight: bold;
}

#connexion {
  padding-top: 12vh;
  padding-bottom: 8vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#connexion h1 {
  font-size: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
#connexion form {
  display: grid;
  margin-bottom: 4vh;
}
#connexion form label {
  font-size: 50px;
  margin-bottom: 1vh;
}
#connexion form input {
  width: 100%;
  height: 3vh;
  font-size: 30px;
  padding-left: 4%;
  border: solid 4px black;
}
#connexion form #me_connecter {
  background-color: #AA8773;
  color: white;
  width: 80%;
  height: 3vh;
  font-size: 50px;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
#connexion .no_account {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#connexion .no_account a {
  font-size: 40px;
  color: #F3A93E;
  text-decoration: none;
  font-weight: bold;
}

#faq {
  padding-top: 12vh;
  padding-bottom: 8vh;
}
#faq h1 {
  font-size: 80px;
  text-align: center;
}
#faq h2 {
  font-size: 30px;
  font-family: "Ultra", serif;
  padding-left: 4%;
}
#faq .toggle {
  margin: 4%;
}
#faq .toggle .el-toggle {
  background-color: #F3A93E;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#faq .toggle .el-toggle h3 {
  padding-left: 4%;
  font-size: 24px;
}
#faq .toggle .el-toggle img {
  padding-right: 4%;
  cursor: pointer;
}
#faq .toggle .contenu_faq {
  display: none;
}
#faq .toggle .contenu_faq.open {
  display: block;
  padding: 4%;
  border: solid black 3px;
  background-color: white;
}
#faq .toggle .contenu_faq.open p {
  font-size: 14px;
}

#filtre {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1001;
  filter: alpha(opacity=70);
  display: none;
}

#aventure_solo {
  padding-top: 12vh;
  padding-bottom: 8vh;
}
#aventure_solo h2 {
  background-color: #AA8773;
  color: white;
  padding: 1%;
  font-size: 24px;
  font-family: "Roboto Slab", serif;
  padding-left: 4%;
}
#aventure_solo .add-to-cart {
  position: fixed;
  background-color: white;
  border: solid 3px black;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column: 2;
  margin: 2%;
  padding: 2%;
  top: 35%;
  left: 26%;
  z-index: 1002;
}
#aventure_solo .add-to-cart.no-fill {
  width: 44%;
}
#aventure_solo .add-to-cart.no-fill .choix_panier {
  justify-content: center;
}
#aventure_solo .add-to-cart .choix_panier {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 4%;
}
#aventure_solo .add-to-cart .choix_panier .continue_achat {
  width: 66%;
  margin-right: 4%;
}
#aventure_solo .add-to-cart .choix_panier .continue_achat p {
  font-size: 1.5rem;
  text-align: center;
}
#aventure_solo .add-to-cart .choix_panier .add-panier {
  height: 100%;
  background-color: #F3A93E;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 66%;
  cursor: pointer;
  padding: 5%;
  margin-left: 4%;
}
#aventure_solo .add-to-cart .choix_panier .add-panier img {
  width: 30%;
}
#aventure_solo .add-to-cart .choix_panier .add-panier a {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
#aventure_solo .block-1 img {
  width: 100%;
}
#aventure_solo .block-1 h1 {
  padding-left: 4%;
}
#aventure_solo .block-1 .grid_genre {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 8vw;
}
#aventure_solo .block-1 .grid_genre .genre {
  border: solid black 3px;
  background: white;
  text-align: center;
  padding: 2vh;
  margin: 10%;
}
#aventure_solo .block-1 .grid_genre .genre p {
  margin: 0;
  text-align: center;
}
#aventure_solo .block-1 .grid_genre .genre strong {
  text-align: center;
}
#aventure_solo .block-1 .flexitude {
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#aventure_solo .block-1 .flexitude p {
  font-size: 40px;
  margin-left: 4%;
}
#aventure_solo .block-1 .dif_aventure span {
  font-weight: bold;
  font-size: 24px;
  padding-left: 4%;
}
#aventure_solo .block-2 img {
  width: 100%;
}
#aventure_solo .block-2 .descr {
  margin: 4%;
}
#aventure_solo .toggle-calendar .cal {
  display: grid;
  width: 85%;
  grid-template-columns: repeat(7, 120px);
  padding: 3%;
  margin: 0px;
  gap: 15px;
}
#aventure_solo .toggle-calendar .cal > div {
  padding: 10px;
  font-size: 7px;
}
#aventure_solo .toggle-calendar .mois {
  margin: auto;
  width: 100%;
  display: flex;
}
#aventure_solo .toggle-calendar .btn_plus {
  background: none;
  border: none;
  color: #F3A93E;
  font-size: 20pt;
  margin: auto;
  cursor: pointer;
}
#aventure_solo .toggle-calendar .month {
  color: #F3A93E;
  font-size: 26pt;
}
#aventure_solo .toggle-calendar .btn_moins {
  background: none;
  border: none;
  color: #F3A93E;
  font-size: 20pt;
  margin: auto;
  cursor: pointer;
}
#aventure_solo .toggle-calendar .jours {
  background-color: #3E3535;
  height: 30px;
  display: flex;
  gap: 65px;
  color: white;
  padding-left: 70px;
}
#aventure_solo .toggle-calendar .leJour {
  margin: auto 0px auto 0px;
}
#aventure_solo .toggle-calendar .inputJour {
  display: none;
}
#aventure_solo .toggle-calendar input[type=radio]:checked + label {
  background-color: #F3A93E;
}
#aventure_solo .toggle-calendar .labelJour {
  background-color: #AA8773;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
#aventure_solo .toggle-calendar .Mardi:nth-child(1) {
  grid-column-start: 2;
}
#aventure_solo .toggle-calendar .Mercredi:nth-child(1) {
  grid-column-start: 3;
}
#aventure_solo .toggle-calendar .Jeudi:nth-child(1) {
  grid-column-start: 4;
}
#aventure_solo .toggle-calendar .Vendredi:nth-child(1) {
  grid-column-start: 5;
}
#aventure_solo .toggle-calendar .Samedi:nth-child(1) {
  grid-column-start: 6;
}
#aventure_solo .toggle-calendar .Dimanche:nth-child(1) {
  grid-column-start: 7;
}
#aventure_solo table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border: solid black 2px;
  padding: 2%;
}
#aventure_solo table td {
  font-size: 34px;
  padding: 2%;
}
#aventure_solo .creneau_offre {
  display: grid;
}
#aventure_solo .creneau_offre .offrir {
  background-color: white;
  border: solid black 3px;
  height: 6vh;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
#aventure_solo .creneau_offre .offrir a {
  font-size: 40px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#aventure_solo .creneau_offre p {
  text-align: center;
  font-size: 70px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
#aventure_solo .resa_aventure h3 {
  background-color: #F3A93E;
  padding-top: 2vh;
  padding-bottom: 2vh;
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#aventure_solo .choix {
  display: grid;
  grid-template-columns: 10% auto;
  align-items: center;
  padding-left: 4%;
  width: 90%;
  cursor: pointer;
}
#aventure_solo .choix p {
  font-size: 50px;
}
#aventure_solo .toggle {
  display: none;
}
#aventure_solo .toggle.open {
  display: block;
}
#aventure_solo .choix_horraire {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
#aventure_solo .choix_horraire form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
  justify-items: center;
}
#aventure_solo .choix_horraire form div {
  height: 3vh;
  width: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#aventure_solo .choix_horraire form div label {
  font-size: 20px;
}
#aventure_solo .choix_horraire .inputCren {
  display: none;
}
#aventure_solo .choix_horraire .labelCren {
  background-color: #AA8773;
  color: white;
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;
}
#aventure_solo .choix_horraire input[type=radio]:checked + label {
  background-color: #F3A93E;
}
#aventure_solo .groupe_choix {
  display: grid;
  gap: 10px;
  grid-template-columns: 10% auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#aventure_solo .groupe_choix input {
  width: 3vw;
}
#aventure_solo .groupe_choix label {
  display: flex;
  justify-content: space-between;
}
#aventure_solo .groupe_choix label p {
  font-size: 28px;
}
#aventure_solo .groupe_choix .labelGro {
  background-color: #AA8773;
  color: white;
  border-radius: 5px;
  padding: 1%;
}
#aventure_solo .groupe_choix input[type=radio]:checked + label {
  background-color: #F3A93E;
}
#aventure_solo .groupe_choix .add {
  grid-column: span 1/3;
}
#aventure_solo .groupe_choix .add > img {
  width: 30px;
}
#aventure_solo .carte #map {
  height: 40vh;
}
#aventure_solo .block-avantage .grid_avantage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#aventure_solo .block-avantage .grid_avantage .icon_avant {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  gap: 3vw;
}
#aventure_solo .block-avantage .grid_avantage .icon_avant span {
  font-size: 30px;
  font-weight: bold;
}
#aventure_solo .block-avantage .grid_avantage .icon_avant p {
  margin-top: 0.5vh;
  font-size: 27px;
}

#cadeau,
#contact {
  padding-top: 12vh;
}
#cadeau .block-1,
#contact .block-1 {
  margin-bottom: 4vh;
}
#cadeau .block-1 img,
#contact .block-1 img {
  width: 100%;
}
#cadeau .block-1 .block-cadeau,
#cadeau .block-1 .block-contact,
#contact .block-1 .block-cadeau,
#contact .block-1 .block-contact {
  margin-left: 2%;
  margin-right: 2%;
}
#cadeau .block-1 .block-cadeau h1,
#cadeau .block-1 .block-contact h1,
#contact .block-1 .block-cadeau h1,
#contact .block-1 .block-contact h1 {
  font-size: 80px;
}
#cadeau .block-1 .block-cadeau form,
#cadeau .block-1 .block-contact form,
#contact .block-1 .block-cadeau form,
#contact .block-1 .block-contact form {
  display: grid;
}
#cadeau .block-1 .block-cadeau form label,
#cadeau .block-1 .block-contact form label,
#contact .block-1 .block-cadeau form label,
#contact .block-1 .block-contact form label {
  font-size: 50px;
  margin-bottom: 2%;
}
#cadeau .block-1 .block-cadeau form input[type=number],
#cadeau .block-1 .block-contact form input[type=number],
#contact .block-1 .block-cadeau form input[type=number],
#contact .block-1 .block-contact form input[type=number] {
  width: 20vw;
  height: 4vh;
  font-size: 50px;
}
#cadeau .block-1 .block-cadeau form input,
#cadeau .block-1 .block-contact form input,
#contact .block-1 .block-cadeau form input,
#contact .block-1 .block-contact form input {
  border: solid 4px black;
}
#cadeau .block-1 .block-cadeau form input[type=text],
#cadeau .block-1 .block-contact form input[type=text],
#contact .block-1 .block-cadeau form input[type=text],
#contact .block-1 .block-contact form input[type=text] {
  width: 95%;
  height: 4vh;
  font-size: 50px;
  padding-left: 4%;
}
#cadeau .block-1 .block-cadeau form #message_contact,
#cadeau .block-1 .block-contact form #message_contact,
#contact .block-1 .block-cadeau form #message_contact,
#contact .block-1 .block-contact form #message_contact {
  height: 16vh;
}
#cadeau .block-1 .block-cadeau form input[type=tel],
#cadeau .block-1 .block-contact form input[type=tel],
#contact .block-1 .block-cadeau form input[type=tel],
#contact .block-1 .block-contact form input[type=tel] {
  width: 95%;
  height: 4vh;
  font-size: 50px;
  padding-left: 4%;
}
#cadeau .block-1 .block-cadeau form input[type=email],
#cadeau .block-1 .block-contact form input[type=email],
#contact .block-1 .block-cadeau form input[type=email],
#contact .block-1 .block-contact form input[type=email] {
  width: 95%;
  height: 4vh;
  font-size: 50px;
  padding-left: 4%;
}
#cadeau .block-1 .block-cadeau form input[type=submit],
#cadeau .block-1 .block-contact form input[type=submit],
#contact .block-1 .block-cadeau form input[type=submit],
#contact .block-1 .block-contact form input[type=submit] {
  width: 90%;
  height: 4vh;
  font-size: 50px;
  border: none;
  background-color: #F3A93E;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#mon_compte {
  padding-top: 12vh;
  margin: 4%;
}
#mon_compte h2 {
  font-size: 4rem;
}
#mon_compte .no_resa {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#mon_compte .no_resa p {
  margin-left: 4%;
  font-size: 2rem;
}
#mon_compte .deconnexion {
  background-color: #F3A93E;
  margin-top: 4%;
  color: white;
  cursor: pointer;
  width: 30%;
  padding: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border: none;
}
#mon_compte .deconnexion a {
  text-decoration: none;
  color: white;
  margin-left: 4%;
  font-size: 1.8rem;
}
#mon_compte form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 86%;
  margin-right: auto;
  margin-left: auto;
}
#mon_compte form label {
  font-size: 30px;
  margin-bottom: 1vh;
}
#mon_compte form .block-duo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vw;
}
#mon_compte form input {
  width: 100%;
  height: 3vh;
  font-size: 1.3rem;
  padding: 1.5vh;
  border: solid 2px black;
}
#mon_compte form #submit_compte {
  width: 40%;
  padding: 1%;
  padding-left: 0;
  font-size: 1.6rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #F3A93E;
  border: none;
  color: white;
  cursor: pointer;
}
#mon_compte form #pays_compte {
  width: 50%;
  display: flex;
  justify-content: center;
}
#mon_compte .mes_jeux .mes_resa {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 5px black;
  width: 80%;
  margin-left: auto;
  padding: 2%;
  margin-right: auto;
  margin-bottom: 4%;
}
#mon_compte .mes_jeux .mes_resa .info_resa h3 {
  font-size: 3rem;
  margin-bottom: 8%;
  margin-top: 8%;
}
#mon_compte .mes_jeux .mes_resa .info_resa .resa_nbr {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#mon_compte .mes_jeux .mes_resa .info_resa .tarif {
  font-size: 3rem;
  text-align: center;
}
#mon_compte .mes_jeux .mes_resa .creneau_resa {
  background-color: #F3A93E;
  width: 44%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#mon_compte .mes_jeux .mes_resa .creneau_resa h4 {
  font-size: 2rem;
  margin-bottom: 3%;
}
#mon_compte .mes_jeux .mes_resa .creneau_resa .line {
  border: solid 1px black;
  width: 40%;
}
#mon_compte .mes_jeux .mes_resa .creneau_resa .date_resa {
  font-size: 2rem;
  font-weight: bolder;
}
#mon_compte .mes_jeux .mes_resa .creneau_resa .heure_resa {
  color: white;
  font-size: 3rem;
  margin-bottom: 6%;
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  h1 {
    text-align: initial;
    margin-bottom: 2vh;
  }
  h1 span {
    font-size: 3.5rem;
  }
  p {
    font-size: 20px;
  }
  li {
    font-size: 20px;
  }
  header {
    position: initial;
  }
  header .header_logo {
    display: flex;
  }
  header .header_logo img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  header .header-selector {
    background-color: #3E3535;
    display: grid;
    grid-template-columns: 20% auto;
    align-items: center;
  }
  header .header-selector .header-langue {
    margin-left: 16%;
  }
  header .header-selector .header-langue button {
    width: 30%;
  }
  header .header-selector .header-langue button img {
    width: 50%;
    margin-left: 4%;
  }
  header .header-selector .block_menu_mobile {
    display: none;
  }
  header .header-selector .block_menu_ordi {
    display: block;
  }
  header .header-selector .block_menu_ordi .menu {
    display: flex;
    justify-content: space-around;
    background-color: #3E3535;
    padding: 0%;
  }
  header .header-selector .block_menu_ordi .menu a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 24px;
  }
  header .header-selector .block_menu_ordi .menu a img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  header .menu_icon_mobile {
    display: none;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    border-top: #3E3535 8px solid;
    background-color: rgba(222, 211, 195, 0.537254902);
  }
  footer .footer_navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
  }
  footer .footer_navigation a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-bottom: 0;
  }
  footer .footer_navigation p {
    display: initial;
  }
  footer .footer_copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-left: auto;
    margin-right: 2%;
  }
  footer .footer_copyright img {
    width: 35%;
  }
  footer .footer_copyright p {
    text-transform: uppercase;
    font-size: initial;
    text-align: initial;
    padding-right: 0;
  }
  #home,
  #aventures,
  #cadeau {
    padding-top: 6vh;
  }
  #home strong,
  #aventures strong,
  #cadeau strong {
    font-size: 24px;
  }
  #home .block-1,
  #aventures .block-1,
  #cadeau .block-1 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2%;
    padding: 2%;
  }
  #home .block-1 .block-2,
  #aventures .block-1 .block-2,
  #cadeau .block-1 .block-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 2%;
  }
  #home .block-1 .block-2 p,
  #aventures .block-1 .block-2 p,
  #cadeau .block-1 .block-2 p {
    text-align: justify;
  }
  #home .block-1 .block-2 .text-block-2,
  #aventures .block-1 .block-2 .text-block-2,
  #cadeau .block-1 .block-2 .text-block-2 {
    margin-left: 4%;
  }
  #home .block-3,
  #aventures .block-3,
  #cadeau .block-3 {
    display: grid;
    grid-template-columns: 55% 45%;
    margin: 2%;
  }
  #home .block-3 .block-3-1,
  #aventures .block-3 .block-3-1,
  #cadeau .block-3 .block-3-1 {
    border: #3E3535 5px solid;
    border-radius: 5px;
    padding: 2%;
    margin-right: 2%;
  }
  #home .block-3 .block-news,
  #aventures .block-3 .block-news,
  #cadeau .block-3 .block-news {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #home .block-3 .block-news h3,
  #aventures .block-3 .block-news h3,
  #cadeau .block-3 .block-news h3 {
    padding-left: 1%;
  }
  #home .block-3 .block-news .news-right,
  #aventures .block-3 .block-news .news-right,
  #cadeau .block-3 .block-news .news-right {
    margin-left: 6%;
    margin-bottom: 0;
  }
  #home .block-3 .block-news .news-right .descri_news,
  #aventures .block-3 .block-news .news-right .descri_news,
  #cadeau .block-3 .block-news .news-right .descri_news {
    height: 42vh;
  }
  #home .block-3 .block-news .news-right .descri_news p,
  #aventures .block-3 .block-news .news-right .descri_news p,
  #cadeau .block-3 .block-news .news-right .descri_news p {
    font-size: 1.2rem;
  }
  #home .block-3 .block-news .news-right .button_news,
  #aventures .block-3 .block-news .news-right .button_news,
  #cadeau .block-3 .block-news .news-right .button_news {
    width: 70%;
    margin-left: 0;
    margin-right: auto;
  }
  #home .block-3 .block-news .news-right .button_news .button_plus,
  #aventures .block-3 .block-news .news-right .button_news .button_plus,
  #cadeau .block-3 .block-news .news-right .button_news .button_plus {
    margin-top: 8%;
  }
  #home .block-3 .block-news .news-right .button_news .button_plus a,
  #aventures .block-3 .block-news .news-right .button_news .button_plus a,
  #cadeau .block-3 .block-news .news-right .button_news .button_plus a {
    font-size: 30px;
  }
  #home .block-3 .block-avis h3,
  #aventures .block-3 .block-avis h3,
  #cadeau .block-3 .block-avis h3 {
    padding-left: 1%;
  }
  #home .block-3 .block-avis .block_slider,
  #aventures .block-3 .block-avis .block_slider,
  #cadeau .block-3 .block-avis .block_slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  #home .block-3 .block-avis .block_slider .arrow_slider,
  #aventures .block-3 .block-avis .block_slider .arrow_slider,
  #cadeau .block-3 .block-avis .block_slider .arrow_slider {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  #home .block-3 .block-avis .block_slider #slider,
  #aventures .block-3 .block-avis .block_slider #slider,
  #cadeau .block-3 .block-avis .block_slider #slider {
    width: 45vw;
    overflow: hidden;
  }
  #home .block-3 .block-avis .block_slider #slider .slider-parent,
  #aventures .block-3 .block-avis .block_slider #slider .slider-parent,
  #cadeau .block-3 .block-avis .block_slider #slider .slider-parent {
    width: 90vw;
    display: flex;
    transition: 0.5s;
  }
  #home .block-3 .block-avis .block_slider #slider .slider-parent .slide,
  #aventures .block-3 .block-avis .block_slider #slider .slider-parent .slide,
  #cadeau .block-3 .block-avis .block_slider #slider .slider-parent .slide {
    width: 45vw;
    display: grid;
    grid-template-columns: 46% 50%;
  }
  #home .block-3 .block-avis .block_slider #slider .slider-parent .slide .block-reviews-star,
  #aventures .block-3 .block-avis .block_slider #slider .slider-parent .slide .block-reviews-star,
  #cadeau .block-3 .block-avis .block_slider #slider .slider-parent .slide .block-reviews-star {
    margin-left: 8%;
    margin-top: 8%;
  }
  #home .block-3 .block-avis .block_slider #slider .slider-parent .slide .desc_reviews,
  #aventures .block-3 .block-avis .block_slider #slider .slider-parent .slide .desc_reviews,
  #cadeau .block-3 .block-avis .block_slider #slider .slider-parent .slide .desc_reviews {
    margin-right: 12%;
  }
  #home .block-3 .block-popular,
  #aventures .block-3 .block-popular,
  #cadeau .block-3 .block-popular {
    border: #3E3535 5px solid;
    padding: 2%;
    margin-top: 0;
    margin-bottom: 0;
  }
  #home .block-3 .block-popular .popular-img,
  #aventures .block-3 .block-popular .popular-img,
  #cadeau .block-3 .block-popular .popular-img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  #home .block-3 .block-popular .popular-img img,
  #aventures .block-3 .block-popular .popular-img img,
  #cadeau .block-3 .block-popular .popular-img img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #home .block-3 .block-popular .popular_button,
  #aventures .block-3 .block-popular .popular_button,
  #cadeau .block-3 .block-popular .popular_button {
    display: flex;
    justify-content: center;
  }
  #home .block-3 .block-popular .popular_button .button_plus,
  #aventures .block-3 .block-popular .popular_button .button_plus,
  #cadeau .block-3 .block-popular .popular_button .button_plus {
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
  }
  #home .block-3 .block-popular .popular_button .button_plus a,
  #aventures .block-3 .block-popular .popular_button .button_plus a,
  #cadeau .block-3 .block-popular .popular_button .button_plus a {
    font-size: 30px;
  }
  #home .block-4,
  #aventures .block-4,
  #cadeau .block-4 {
    display: grid;
    grid-template-columns: 52% 48%;
    margin-bottom: 2% !important;
    margin: 0;
    padding: 0;
  }
  #home .block-4 h3,
  #aventures .block-4 h3,
  #cadeau .block-4 h3 {
    padding-left: 4%;
  }
  #home .block-4 p,
  #aventures .block-4 p,
  #cadeau .block-4 p {
    margin-left: 4%;
  }
  #home .block-4 img,
  #aventures .block-4 img,
  #cadeau .block-4 img {
    width: 90%;
    margin-left: 6%;
    margin-top: 12%;
  }
  #home .block-5,
  #aventures .block-5,
  #cadeau .block-5 {
    margin-bottom: 4% !important;
    margin: 0;
    padding: 0;
  }
  #home .block-5 h3,
  #aventures .block-5 h3,
  #cadeau .block-5 h3 {
    margin-left: 53%;
    text-align: right;
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }
  #home .block-5 .block-5-1,
  #aventures .block-5 .block-5-1,
  #cadeau .block-5 .block-5-1 {
    display: grid;
    grid-template-columns: 48% 52%;
  }
  #home .block-5 .block-5-1 img,
  #aventures .block-5 .block-5-1 img,
  #cadeau .block-5 .block-5-1 img {
    width: 90%;
    margin-left: 4%;
  }
  #home .block-5 .block-5-1 .text-block-team-building,
  #aventures .block-5 .block-5-1 .text-block-team-building,
  #cadeau .block-5 .block-5-1 .text-block-team-building {
    margin-right: 4%;
  }
  #aventures h2 {
    background-color: #AA8773;
    color: white;
    padding: 1%;
    font-size: 24px;
  }
  #aventures h3 {
    font-size: 50px;
  }
  #aventures .block_trio_aventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2%;
  }
  #aventures .block_trio_aventure .block_aventure {
    border: #3E3535 5px solid;
    border-radius: 5px;
    padding: 2%;
    margin-right: 2%;
  }
  #aventures .block_trio_aventure .block_aventure .genre_aventure p {
    font-size: 24px;
  }
  #aventures .block_trio_aventure .block_aventure .button_ensavoir a {
    font-size: 23px;
  }
  #cadeau,
  #contact {
    padding-top: 6vh;
  }
  #cadeau .block-1,
  #contact .block-1 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 2%;
    padding: 2%;
  }
  #cadeau .block-1 img,
  #contact .block-1 img {
    width: 100%;
  }
  #cadeau .block-1 .block-cadeau,
  #cadeau .block-1 .block-contact,
  #contact .block-1 .block-cadeau,
  #contact .block-1 .block-contact {
    margin-left: 2%;
    margin-right: 2%;
  }
  #cadeau .block-1 .block-cadeau h1,
  #cadeau .block-1 .block-contact h1,
  #contact .block-1 .block-cadeau h1,
  #contact .block-1 .block-contact h1 {
    font-size: 80px;
  }
  #cadeau .block-1 .block-cadeau form,
  #cadeau .block-1 .block-contact form,
  #contact .block-1 .block-cadeau form,
  #contact .block-1 .block-contact form {
    display: grid;
  }
  #cadeau .block-1 .block-cadeau form label,
  #cadeau .block-1 .block-contact form label,
  #contact .block-1 .block-cadeau form label,
  #contact .block-1 .block-contact form label {
    font-size: 20px;
    margin-bottom: 2%;
  }
  #cadeau .block-1 .block-cadeau form input,
  #cadeau .block-1 .block-contact form input,
  #contact .block-1 .block-cadeau form input,
  #contact .block-1 .block-contact form input {
    border: solid 3px black;
  }
  #cadeau .block-1 .block-cadeau form input[type=number],
  #cadeau .block-1 .block-contact form input[type=number],
  #contact .block-1 .block-cadeau form input[type=number],
  #contact .block-1 .block-contact form input[type=number] {
    width: 10vw;
    height: 4vh;
    font-size: 20px;
  }
  #cadeau .block-1 .block-cadeau form input[type=submit],
  #cadeau .block-1 .block-contact form input[type=submit],
  #contact .block-1 .block-cadeau form input[type=submit],
  #contact .block-1 .block-contact form input[type=submit] {
    width: 70%;
    height: 6vh;
    font-size: 20px;
    border: none;
    background-color: #F3A93E;
    color: white;
    font-weight: bold;
  }
  #cadeau .block-1 .block-cadeau form input[type=text],
  #cadeau .block-1 .block-contact form input[type=text],
  #contact .block-1 .block-cadeau form input[type=text],
  #contact .block-1 .block-contact form input[type=text] {
    width: 100%;
    height: 4vh;
    font-size: 20px;
  }
  #cadeau .block-1 .block-cadeau form input[type=tel],
  #cadeau .block-1 .block-contact form input[type=tel],
  #contact .block-1 .block-cadeau form input[type=tel],
  #contact .block-1 .block-contact form input[type=tel] {
    width: 100%;
    height: 4vh;
    font-size: 20px;
  }
  #cadeau .block-1 .block-cadeau form input[type=email],
  #cadeau .block-1 .block-contact form input[type=email],
  #contact .block-1 .block-cadeau form input[type=email],
  #contact .block-1 .block-contact form input[type=email] {
    width: 100%;
    height: 4vh;
    font-size: 20px;
  }
  #cadeau .block-1 .block-cadeau form #message_contact,
  #cadeau .block-1 .block-contact form #message_contact,
  #contact .block-1 .block-cadeau form #message_contact,
  #contact .block-1 .block-contact form #message_contact {
    height: 16vh;
  }
  #faq .toggle {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  #faq .toggle .el-toggle h3 {
    font-size: 20px;
  }
  #faq .toggle .contenu_faq.open p {
    font-size: 18px;
  }
  #crea_compte form {
    display: grid;
  }
  #crea_compte form label {
    font-size: 30px;
  }
  #crea_compte form .block-duo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
  }
  #crea_compte form input {
    width: 100%;
    height: 3vh;
    font-size: 20px;
    padding: 1.5vh;
    border: solid 2px black;
  }
  #crea_compte form .pol_check {
    display: grid;
    grid-template-columns: 10% auto;
    align-items: center;
    margin-bottom: 2vh;
  }
  #crea_compte form .pol_check input {
    margin-bottom: 0;
  }
  #crea_compte form #submit_compte {
    width: 32%;
    height: 8.5vh;
    padding-left: 0;
    font-size: 34px;
  }
  #crea_compte form #pays_connex {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  #crea_compte a {
    font-size: 30px;
    color: #F3A93E;
    text-decoration: none;
    font-weight: bold;
  }
  #connexion {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  #connexion h1 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #connexion form label {
    font-size: 50px;
    margin-bottom: 1vh;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  #connexion form input {
    height: 7vh;
    font-size: 20px;
    border: solid 2px black;
  }
  #connexion form #me_connecter {
    width: 32%;
    height: 8.5vh;
    padding-left: 0;
    font-size: 34px;
  }
  #connexion .no_account {
    width: 45%;
  }
  #connexion .no_account a {
    font-size: 30px;
  }
  #aventure_solo .block-1 {
    display: grid;
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
  }
  #aventure_solo .block-1 .block_carac h2 {
    text-align: right;
    padding-right: 4%;
  }
  #aventure_solo .block-1 .flexitude p {
    margin: 2%;
    font-size: 24px;
  }
  #aventure_solo .block-1 .dif_aventure span {
    font-weight: bold;
    font-size: 24px;
    padding-left: 4%;
  }
  #aventure_solo .block-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #aventure_solo .block-2 .descr {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    margin-top: 2%;
  }
  #aventure_solo .block-2 .descr .left-column {
    margin-right: 4%;
  }
  #aventure_solo .toggle-calendar {
    position: relative;
    width: 100%;
  }
  #aventure_solo .toggle-calendar .cal {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 30vw;
    padding: 3%;
    transform: translateX(-12%);
  }
  #aventure_solo .toggle-calendar .cal > div {
    padding: 10px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  #aventure_solo .toggle-calendar .mois {
    margin: auto;
    width: 100%;
    display: flex;
  }
  #aventure_solo .toggle-calendar .btn_plus {
    background: none;
    border: none;
    color: #F3A93E;
    font-size: 20pt;
    margin: auto;
    cursor: pointer;
  }
  #aventure_solo .toggle-calendar .month {
    color: #F3A93E;
    font-size: 26pt;
  }
  #aventure_solo .toggle-calendar .btn_moins {
    background: none;
    border: none;
    color: #F3A93E;
    font-size: 20pt;
    margin: auto;
    cursor: pointer;
  }
  #aventure_solo .toggle-calendar .jours {
    background-color: #3E3535;
    display: none !important;
    height: 30px;
    display: flex;
    gap: 65px;
    color: white;
    padding-left: 60px;
  }
  #aventure_solo .toggle-calendar .leJour {
    margin: auto 0px auto 0px;
  }
  #aventure_solo .toggle-calendar .inputJour {
    display: none;
  }
  #aventure_solo .toggle-calendar input[type=radio]:checked + label {
    background-color: #F3A93E;
  }
  #aventure_solo .toggle-calendar .labelJour {
    background-color: #AA8773;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
  }
  #aventure_solo .toggle-calendar .Mardi:nth-child(1) {
    grid-column-start: 2;
  }
  #aventure_solo .toggle-calendar .Mercredi:nth-child(1) {
    grid-column-start: 3;
  }
  #aventure_solo .toggle-calendar .Jeudi:nth-child(1) {
    grid-column-start: 4;
  }
  #aventure_solo .toggle-calendar .Vendredi:nth-child(1) {
    grid-column-start: 5;
  }
  #aventure_solo .toggle-calendar .Samedi:nth-child(1) {
    grid-column-start: 6;
  }
  #aventure_solo .toggle-calendar .Dimanche:nth-child(1) {
    grid-column-start: 7;
  }
  #aventure_solo table {
    width: 80%;
  }
  #aventure_solo table td {
    font-size: 20px;
  }
  #aventure_solo .creneaux h2 {
    text-align: right;
    padding-right: 4%;
  }
  #aventure_solo .creneaux .resa_aventure h3 {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }
  #aventure_solo .inputCren {
    display: none;
  }
  #aventure_solo .labelCren {
    background-color: #AA8773;
    color: white;
    border-radius: 5px;
    padding: 20px;
  }
  #aventure_solo input[type=radio]:checked + label {
    background-color: #F3A93E;
  }
  #aventure_solo .creneau_offre .offrir {
    height: 12vh;
    width: 35vw;
  }
  #aventure_solo .creneau_offre .offrir a {
    font-size: 30px;
  }
  #aventure_solo .creneau_offre p {
    font-size: 50px;
  }
  #aventure_solo .block-3 {
    display: grid;
    margin-bottom: 30px;
    grid-template-columns: 50% 50%;
  }
  #aventure_solo .choix p {
    font-size: 30px;
  }
  #aventure_solo .choix_horraire form {
    gap: 1vw;
  }
  #aventure_solo .choix_horraire form div {
    height: 9vh;
    width: 9vw;
  }
  #aventure_solo .groupe_choix {
    width: 80%;
  }
  #aventure_solo .groupe_choix input {
    width: 1.5vw;
    border: none;
  }
  #aventure_solo .groupe_choix label p {
    font-size: 24px;
  }
  #aventure_solo .labelGro {
    background-color: #AA8773;
    color: white;
    border-radius: 5px;
    padding: 1%;
  }
  #aventure_solo .block-avantage .grid_avantage {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #mon_compte h2 {
    font-size: 2rem;
  }
  #mon_compte form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 86%;
    margin-right: auto;
    margin-left: auto;
  }
  #mon_compte form label {
    font-size: 30px;
    margin-bottom: 1vh;
  }
  #mon_compte form .block-duo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
  }
  #mon_compte form input {
    width: 100%;
    height: 5vh;
    font-size: 1.3rem;
    padding: 1.5vh;
    border: solid 2px black;
  }
  #mon_compte form #submit_compte {
    height: 9vh;
  }
  #mon_compte form #pays_compte {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  #mon_compte .mes_jeux .mes_resa {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: solid 4px black;
    width: 90%;
  }
  #mon_compte .mes_jeux .mes_resa .info_resa h3 {
    font-size: 3rem;
    margin-bottom: 8%;
    margin-top: 8%;
  }
  #mon_compte .mes_jeux .mes_resa .info_resa .resa_nbr {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #mon_compte .mes_jeux .mes_resa .info_resa .tarif {
    font-size: 3rem;
    text-align: center;
  }
  #mon_compte .mes_jeux .mes_resa .creneau_resa {
    background-color: #F3A93E;
    width: 20%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mon_compte .mes_jeux .mes_resa .creneau_resa h4 {
    font-size: 2rem;
    margin-bottom: 3%;
  }
  #mon_compte .mes_jeux .mes_resa .creneau_resa .line {
    border: solid 1px black;
    width: 40%;
  }
  #mon_compte .mes_jeux .mes_resa .creneau_resa .date_resa {
    font-size: 2rem;
    font-weight: bolder;
  }
  #mon_compte .mes_jeux .mes_resa .creneau_resa .heure_resa {
    color: white;
    font-size: 3rem;
    margin-bottom: 6%;
    margin-top: 0;
  }
  #panier .panier .mes_resa {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: solid 4px black;
    width: 90%;
    flex-wrap: wrap;
  }
  #panier .panier .mes_resa img {
    width: 40%;
  }
  #panier .panier .mes_resa .info_resa h3 {
    font-size: 3rem;
    margin-bottom: 8%;
    margin-top: 8%;
  }
  #panier .panier .mes_resa .info_resa .resa_nbr {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  #panier .panier .mes_resa .info_resa .tarif {
    font-size: 3rem;
    text-align: center;
  }
  #panier .panier .mes_resa .creneau_resa {
    background-color: #F3A93E;
    width: 20%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #panier .panier .mes_resa .creneau_resa h4 {
    font-size: 2rem;
    margin-bottom: 3%;
  }
  #panier .panier .mes_resa .creneau_resa .line {
    border: solid 1px black;
    width: 40%;
  }
  #panier .panier .mes_resa .creneau_resa .date_resa {
    font-size: 2rem;
    font-weight: bolder;
  }
  #panier .panier .mes_resa .creneau_resa .heure_resa {
    color: white;
    font-size: 3rem;
    margin-bottom: 6%;
    margin-top: 0;
  }
  #panier .panier .mes_resa .supp_jeu {
    flex: 0 0 95%;
    text-align: right;
    font-size: 1.5rem;
  }
  #panier .partie_paiement {
    flex-direction: row;
  }
  #panier .partie_paiement form {
    flex: 0 0 50%;
  }
  #panier .partie_paiement form input[type=text] {
    width: 100%;
  }
  #panier .partie_paiement .recap_commande {
    padding: 2%;
    width: 34%;
    background-color: #AA8773;
    border: none;
    color: white;
  }
  #panier .partie_paiement .recap_commande h3 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 3%;
  }
  #panier .partie_paiement .recap_commande p {
    text-align: center;
    margin-top: 8%;
    font-size: 4rem;
  }
  #panier .code_cadeau {
    width: 62%;
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
  }
  #panier .code_cadeau input[type=text] {
    padding: 5%;
    font-size: 1.2rem;
  }
  #panier .code_cadeau input[type=submit] {
    padding: 1%;
  }
}/*# sourceMappingURL=style.css.map */