@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');


$roboto : 'Roboto Slab',
serif;
$ultra : 'Ultra',
serif;
$gris :#3E3535;
$beige : #AA8773;
$jaune : #F3A93E;
$bordeau : #98251E;


body{
    margin: 0;
    background-image: url("../img/background/fond.jpg");
    font-family: $roboto;
    position: relative;
}

header{
    .header_logo {
        display: flex;

        a {
            display: flex;
            justify-content: center;
            width: 100%;

            img {
                width: 60%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .block_menu_ordi{
        background-color: #3E3535;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1%;
        a{
            color: white;
            text-decoration: none;
            font-size: 2rem;
        }
        .icon_home{
            display: flex;
            align-items: center;
        }
        button{
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
        }
    }
}


/** Vue connexion **/
#connexion{
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4%;
    }
    label{
        font-size: 2.5rem;
    }
    input[type=text],
    input[type=password] {
        padding: 1%;
        font-size: 2rem;
        width: 100%;
    }
    input[type=submit]{
        background-color: $jaune;
    }
}

