body{
	margin: 0;
	font-family: arial;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}
header{
	position: sticky;
	top: 0;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	background: radial-gradient(at 200px 10%, #009e00 50%, #004e00);
	color: #FFF;
	box-shadow: 0 2px 2px rgba(0,0,0,0.26);
	padding: 32px 64px;
}
header>a{
	color: #FFF;
	text-decoration: none;
}
header>a{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: #FFF;
}
h1{
	margin: 0;
}

/*********************/
/* Les articles      */
/*********************/
main{
	padding: 32px 64px;
}

/****************/
/* Pied de page */
/****************/

footer{
	background: #000;
	padding: 32px 64px;
	display: grid;
	gap: 4px;
}
footer>a{
	color: #FFF;
	text-decoration: none;
}